# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules and build output
node_modules/
dist/
dist-ssr/

# Environment files (for different environments)
.env
.env.local
.env.production
.env.test


# Temporary files and directories
*.local
src1/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store

# Windows-specific files
*.suo
*.ntvs*
*.njsproj
*.sln

# Other system files
*.sw?
