.services_navigation_container {
	display: flex;
	align-items: center;
	gap: 4.8rem;
	width: 82rem;
	font-size: 1.6rem;
	font-family: $font-secondary;
	padding: 2.2rem 1rem;
	margin-bottom: 6.4rem;
	border-radius: 1rem;
	border: 0.1rem solid var(--color-black-20);
	color: var(--color-black);
	background-color: var(--color-primary-80);

	@include respond(phone) {
		// font-size: 1.2rem;
          width: auto!important;
		  gap: 2rem!important;  
	}

	@include respond(tab-port) {
		gap: 0rem;
		width: 54rem;
		margin-bottom: 5.4rem;
		// padding: 4.8rem 6.4rem;
	}

	@include respond(tab-land) {
		gap: 0rem;
		width: 64rem;
		margin-bottom: 5.4rem;
		// padding: 6.4rem;
	}

	& div {
		margin: 0 auto;

		input[type="radio"] {
			display: none;
		}

		& > label {
			color: var(--color-black-50);
			cursor: pointer;
			// padding-bottom: 1.5rem;
			transition: all 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86) ease-in;
			transition: color 0.2s;
		}
	}
	.active {
		@include ctaBtn;
		font-weight: 500;
		padding: 1.8rem 2.4rem;
		// transition: all 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86) ease-in;
		transition: all 0.2s;
		// -webkit-transform: scaleX(1);
		// -moz-transform: scaleX(1);
		// -o-transform: scaleX(1);
		transform: scaleX(1);

		@include respond(phone) {
			padding: 1.4rem 2rem;
		}
	}
}
